*{
    margin: 0;
    padding: 0;
}



.container{
    font-family: 'Times New Roman', Times, serif;
    width: 880px;
    height: 1100px;
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
}

.main{
    display: flex;
    justify-content: center;
}
.paper-header{
    text-align: center;
}


.paper-year{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.paper-year div{
    background-color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}

.paper-year ul a{
    padding: 5px;
    margin: 5px;
    color: black;
}

.paper-sub-header{
    display: flex;
    justify-content: space-between;
}

.info-message{
    font-style: italic;
}

.group{
    margin: 10px;
    text-align: center;
}

.group-A-questions{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
}

.paper-table {
  margin-left: 50px;
  border: 1px solid black;
  border-collapse: collapse;
}

table th, td{
    border: 1px solid black;
}
