@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}



.container{
    font-family: 'Times New Roman', Times, serif;
    width: 880px;
    height: 1500px;
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
}

@media (max-width: 600px){
    .container{
        height: 2700px;
    }
}

.main{
    display: flex;
    justify-content: center;
    color: rgb(34, 26, 26);
    font-family: 'Roboto', sans-serif;
}
.paper-header{
    text-align: center;
}


.paper-year{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.paper-year div{
    background-color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}

.paper-year ul a{
    padding: 5px;
    margin: 5px;
    color: black;
}

.paper-sub-header{
    display: flex;
    justify-content: space-between;
}

.info-message{
    font-style: italic;
}

.group{
    margin: 10px;
    text-align: center;
}

.group-A-questions{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
}

.paper-table {
  margin-left: 50px;
  border: 1px solid black;
  border-collapse: collapse;
}

.questions li{
    line-height: 35px;
}

table th, td{
    border: 1px solid black;
}
