*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #1976d2;
}

body{
    background-color: gray;
}

h1{
    margin: 10px 0;
    color: #fff;
}

.navbar{
    background-color: var(--primary-color);
    height: 70px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* Showcase */

.service h1{
    color: black;
    text-align: center;
    margin: 50px 0;
}



.service-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 100px;
    gap: 10px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.service-container div{
    background-color: #fff;
    border-radius: 10px;
    height: 400px;
}

.service-container img{
    margin-top: 40px;
    margin-left: 10px;
}

.service-container p{
    color: black;
    margin: 10px;
}

.service-container h2{
    color: black;
    margin: 10px;
}


.background-image{
    object-fit: cover;
    height: 500px;
    object-fit: cover;
}

.background-image img{
    height: 100%;
    width: 100%;
}

.services{
    height: 600px;
    background-color: rgb(196, 173, 173);
}


/* Navbar */

.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    justify-content: space-between;
}

.team div{
    text-align: center;
}

.team img{
    border-radius: 50%;
}


/* Utilities */
.navbar-container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}